<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Hazirguo" />
	 <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/bootstrap.min.css" type="text/css" media="all" /> 
	 <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/docs.min.css" type="text/css" media="all" />

	<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/syntax.css" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/screen.css" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/tablet.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
	<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/mobile.css" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 480px)" />
</head>
<body>

	<a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-static-top navbar-inverse" id="top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ site.baseurl }}" class="navbar-brand">Computer Architecture</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{ site.baseurl }}">Home</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/coursework">Coursework</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/">Experiments</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/materials">Materials & References</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{{ site.baseurl }}/blog"><strong>Blog</strong></a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

	<div class="site">

		<div class="title"><a href="{{ site.baseurl }}/blog">Computer Architecture Course Blog</a></div>

		{{ content }}

		<div class="footer">
			<div class="contact">
				<p>
					Hailin Guo<br/>
					Archlab, West Campus E3421, USTC<br/>
					guohl@mail.ustc.edu.cn
				</p>
			</div>
			<div class="contact">
				<p>
					<a href="http://github.com/hazirguo/">github.com/hazirguo</a><br />
					<a href="http://weibo.com/haifenglinying/">weibo.com/haifenglinying</a><br />
					<a href="http://blog.csdn.net/hazir/">http://blog.csdn.net/hazir</a>
				</p>
			</div>
		 	<div class="rss">
				<a href="{{ site.baseurl }}/blog/atom.xml">RSS Feed</a>
			</div>
		</div>
	</div>
</body>
<html>
